name: AutoCheckin
on:
  workflow_dispatch:
  schedule:
    # IMPORTANT: Set cron job in UTC timezone
    - cron:  '0 23 * * *'

jobs:
  checkin:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install Python
      run: |
        sudo apt update && \
        sudo apt install python3
      
    - name: requirements
      run: |
        pip3 install requests

    - name: Checkin
      run: |
        python3 checkin.py
      env:
        MY_COOKIE: ${{ secrets.MY_COOKIE }}
      
